<html>
	<head>
		<link href="/style.css" rel="stylesheet" type="text/css">
		<title>Längen</title>
	</head>
	<body>
		
		<ul id="color" style="background-color: blue">
			<li><a href="/laengen">Länge</a></li>
			<li><a href="/flaechen">Fläche</a></li>
			<li><a href="/volumen">Volumen</a></li>
			<li><a href="/masse">Masse</a></li>
			<li><a href="/zeit">Zeit</a></li>
			<li><a href="/temperatur">Temperatur</a></li>
			<li class="right"><a href="/deen">DE/EN</a></li>
		</ul>
		
		<h1 style="color: red; text-align: center; padding-top: 20%" > In Bearbeitung! </h1>
	</body>
</html>