<html>
	<head>
		<link href="/style.css" rel="stylesheet" type="text/css">
		<title>Flächen</title>
	</head>
	<body>
		<ul>
			<li><a href="/laengen">Länge</a></li>
			<li><a class="active" href="/flaechen">Fläche</a></li>
			<li><a href="/volumen">Volumen</a></li>
			<li><a href="/masse">Masse</a></li>
			<li><a href="/zeit">Zeit</a></li>
			<li><a href="/temperatur">Temperatur</a></li>
			<li class="right"><a href="/DEEN">DE/EN</a></li>
		</ul>
		<select>
			<option value="mm²" selected>Quadratmillimeter</option>
			<option value="cm²">Quadratcentimeter</option>
			<option value="dm²">Quadratdezimeter</option>
			<option value="m²">Quadratmeter</option>
			<option value="ar">Acre</option>
			<option value="he">Hektar</option>
			<option value="km²">Quadratkilometer</option>
			<option value="mi²">Quadratmeile</option>
		</select>
	</body>
</html>