<html>
	<head>
		<link href="/style.css" rel="stylesheet" type="text/css">
		<title>Flächen</title>
	</head>
	<body class="bildFläche">
	
		<script>
			function getSelectColor() { 
				const selectedValue = document.getElementById("colorLänge").value;
				document.getElementById("color").style.backgroundColor = selectedValue;
				document.getElementById("color2").style.color = selectedValue;
				document.getElementById("color3").style.color = selectedValue;
				console.log(selectedValue);
			} 
		</script> 
	
		<ul id="color" style="background-color: blue">
			<li><a href="/laengen">Länge</a></li>
			<li><a class="active" href="/flaechen">Fläche</a></li>
			<li><a href="/volumen">Volumen</a></li>
			<li><a href="/masse">Masse</a></li>
			<li><a href="/zeit">Zeit</a></li>
			<li><a href="/temperatur">Temperatur</a></li>
			<li class="right"><a href="/deen">DE/EN</a></li>
		</ul>
		
		<select class="colorChange" id="colorLänge" onchange="getSelectColor();">
			<option value="blue" style="background-color: blue"> </option>
			<option value="red" style="background-color: red"> </option>
			<option value="green" style="background-color: green" > </option>
			<option value="lightgreen" style="background-color: lightgreen"> </option>
			<option value="violet" style="background-color: violet"> </option>
			<option value="purple" style="background-color: purple"> </option>
			<option value="orange" style="background-color: orange"> </option>
			<option value="black" style="background-color: black"> </option>
		</select> 
		
		<div class="formel">
			<fieldset class="fieldsetFormel">
				<legend id="color2" class="legendFormel"><em>Formel:</em></legend>
					y = x * <%= formel %>
			</fieldset>
		</div>
		
		<section>
		<form action="/onFlaechen" method="post">
			<input type="text" name="number" autofocus placeholder="Eingabe">
			
		<select name="Temp1">
			<option value="mm²" <% if (sel1 == "mm²") {%>selected<%}%>>Quadratmillimeter</option>
			<option value="cm²" <% if (sel1 == "cm²") {%>selected<%}%>>Quadratcentimeter</option>
			<option value="dm²" <% if (sel1 == "dm²") {%>selected<%}%>>Quadratdezimeter</option>
			<option value="m²" <% if (sel1 == "m²") {%>selected<%}%>>Quadratmeter</option>
			<option value="ar" <% if (sel1 == "ar") {%>selected<%}%>>Acre</option>
			<option value="he" <% if (sel1 == "he") {%>selected<%}%>>Hektar</option>
			<option value="km²" <% if (sel1 == "km²") {%>selected<%}%>>Quadratkilometer</option>
			<option value="mi²" <% if (sel1 == "mi²") {%>selected<%}%>>Quadratmeile</option>
		</select>
		
		===>
		
		<div class="ergebnis">
			<%= ergebnis %>
		</div>
		
		<select name="Temp2">
			<option value="mm²" <% if (sel2 == "mm²") {%>selected<%}%>>Quadratmillimeter</option>
			<option value="cm²" <% if (sel2 == "cm²") {%>selected<%}%>>Quadratcentimeter</option>
			<option value="dm²" <% if (sel2 == "dm²") {%>selected<%}%>>Quadratdezimeter</option>
			<option value="m²" <% if (sel2 == "m²") {%>selected<%}%>>Quadratmeter</option>
			<option value="ar" <% if (sel2 == "ar") {%>selected<%}%>>Acre</option>
			<option value="he" <% if (sel2 == "he") {%>selected<%}%>>Hektar</option>
			<option value="km²" <% if (sel2 == "km²") {%>selected<%}%>>Quadratkilometer</option>
			<option value="mi²" <% if (sel2 == "mi²") {%>selected<%}%>>Quadratmeile</option>
		</select>
		
		<br><button type="submit" class="buttonFläche">umrechnen</button>
		
		</form>
		
		</section>
		
		<div class="spruch">
			<fieldset class="fieldsetSpruch">
				<legend id="color3" class="legendSpruch"><em>Fakt:</em></legend>
					<%= spruch %>
			</fieldset>
		</div>
		
		<div class="gradFahrenheit">
			<em>
			°Fahrenheit
			</em>
		</div>
	</body>
</html>