<html>
	<head>
		<link href="/style.css" rel="stylesheet" type="text/css">
		<title>Längen</title>
	</head>
	<body class="bildLänge">
	
		<script>
			function getSelectColor() { 
				const selectedValue = document.getElementById("colorLänge").value;
				document.getElementById("color").style.backgroundColor = selectedValue;
				document.getElementById("color2").style.color = selectedValue;
				document.getElementById("color3").style.color = selectedValue;
				console.log(selectedValue);
			} 
		</script> 
		
		<ul id="color" style="background-color: blue">
			<li><a class="active" href="/laengen">Länge</a></li>
			<li><a href="/flaechen">Fläche</a></li>
			<li><a href="/volumen">Volumen</a></li>
			<li><a href="/masse">Masse</a></li>
			<li><a href="/zeit">Zeit</a></li>
			<li><a href="/temperatur">Temperatur</a></li>
			<li class="right"><a href="/DEEN">DE/EN</a></li>
		</ul>
		<!-- <script> 
			alert("Willkommen, über die obere Leiste können die jeweiligen Einheitsformen ausgewählt werden! Viel Spaß beim umrechnen!");
		</script>  -->
		
		<select class="colorChange" id="colorLänge" onchange="getSelectColor();">
			<option value="blue" style="background-color: blue"> </option>
			<option value="red" style="background-color: red"> </option>
			<option value="green" style="background-color: green" > </option>
			<option value="lightgreen" style="background-color: lightgreen"> </option>
			<option value="violet" style="background-color: violet"> </option>
			<option value="purple" style="background-color: purple"> </option>
			<option value="orange" style="background-color: orange"> </option>
			<option value="black" style="background-color: black"> </option>
		</select> 

		<div class="formel">
			<fieldset class="fieldsetFormel">
				<legend id="color2" class="legendFormel"><em>Formel:</em></legend>
					y = x * <%= formel %>
			</fieldset>
		</div>
		
		<section>
		<form action="/onLaengen" method="post">
			<input type="text" name="number">
		
		<select name="Temp1">
			<option value="nm" selected>Nanometer</option>
			<option value="µm">Mikrometer</option>
			<option value="mm">Millimeter</option>
			<option value="cm">Centimeter</option>
			<option value="in">Zoll</option>
			<option value="dm">Dezimeter</option>
			<option value="f">Fuß</option>
			<option value="yd">Yard</option>
			<option value="m">Meter</option>
			<option value="km">Kilometer</option>
			<option value="mi">Meile</option>
			<option value="smi">Seemeile</option>
			<option value="ae">Astro. Einheit</option>
			<option value="lj">Lichtjahr</option>
		</select>
		
		===>
		
		<div class="ergebnis">
			<%= ergebnis %>
		</div>
		
		<select name="Temp2">
			<option value="nm" selected>Nanometer</option>
			<option value="µm">Mikrometer</option>
			<option value="mm">Millimeter</option>
			<option value="cm">Centimeter</option>
			<option value="in">Zoll</option>
			<option value="dm">Dezimeter</option>
			<option value="f">Fuß</option>
			<option value="yd">Yard</option>
			<option value="m">Meter</option>
			<option value="km">Kilometer</option>
			<option value="mi">Meile</option>
			<option value="smi">Seemeile</option>
			<option value="ae">Astro. Einheit</option>
			<option value="lj">Lichtjahr</option>
		</select>
		
		<br><button type="submit" class="buttonLänge">umrechnen</button>
		
		</form>
		
		</section>
		
		<div class="spruch">
			<fieldset class="fieldsetSpruch">
				<legend id="color3" class="legendSpruch"><em>Spruch:</em></legend>
				
			</fieldset>
		</div>
	</body>
</html>