<html>
	<head>
		<link href="/style.css" rel="stylesheet" type="text/css">
		<title>Längen</title>
	</head>
	<body class="bildLänge">
	
		<script>
			function getSelectColor() { 
				const selectedValue = document.getElementById("colorLänge").value;
				document.getElementById("color").style.backgroundColor = selectedValue;
				document.getElementById("color2").style.color = selectedValue;
				document.getElementById("color3").style.color = selectedValue;
				console.log(selectedValue);
			} 
		</script> 
		
		<ul id="color" style="background-color: blue">
			<li><a class="active" href="/laengen">Länge</a></li>
			<li><a href="/flaechen">Fläche</a></li>
			<li><a href="/volumen">Volumen</a></li>
			<li><a href="/masse">Masse</a></li>
			<li><a href="/zeit">Zeit</a></li>
			<li><a href="/temperatur">Temperatur</a></li>
			<li class="right"><a href="/DEEN">DE/EN</a></li>
		</ul>
		
		<select class="colorChange" id="colorLänge" onchange="getSelectColor();">
			<option value="blue" style="background-color: blue"> </option>
			<option value="red" style="background-color: red"> </option>
			<option value="green" style="background-color: green" > </option>
			<option value="lightgreen" style="background-color: lightgreen"> </option>
			<option value="violet" style="background-color: violet"> </option>
			<option value="purple" style="background-color: purple"> </option>
			<option value="orange" style="background-color: orange"> </option>
			<option value="black" style="background-color: black"> </option>
		</select> 

		<div class="formel">
			<fieldset class="fieldsetFormel">
				<legend id="color2" class="legendFormel"><em>Formel:</em></legend>
					y = x * <%= formel %>
			</fieldset>
		</div>
		
		<section>
		<form action="/onLaengen" method="post">
			<input type="text" name="number" autofocus placeholder="Eingabe">
		
		<select name="Temp1">
			<option value="nm" <% if (sel1 == "nm") {%>selected<%}%>>Nanometer</option>
			<option value="µm" <% if (sel1 == "µm") {%>selected<%}%>>Mikrometer</option>
			<option value="mm" <% if (sel1 == "mm") {%>selected<%}%>>Millimeter</option>
			<option value="cm" <% if (sel1 == "cm") {%>selected<%}%>>Centimeter</option>
			<option value="in" <% if (sel1 == "in") {%>selected<%}%>>Zoll</option>
			<option value="dm" <% if (sel1 == "dm") {%>selected<%}%>>Dezimeter</option>
			<option value="f" <% if (sel1 == "f") {%>selected<%}%>>Fuß</option>
			<option value="yd" <% if (sel1 == "yd") {%>selected<%}%>>Yard</option>
			<option value="m" <% if (sel1 == "m") {%>selected<%}%>>Meter</option>
			<option value="km" <% if (sel1 == "km") {%>selected<%}%>>Kilometer</option>
			<option value="mi" <% if (sel1 == "mi") {%>selected<%}%>>Meile</option>
			<option value="smi" <% if (sel1 == "smi") {%>selected<%}%>>Seemeile</option>
			<option value="ae" <% if (sel1 == "ae") {%>selected<%}%>>Astro. Einheit</option>
			<option value="lj" <% if (sel1 == "lj") {%>selected<%}%>>Lichtjahr</option>
		</select>
		
		===>
		
		<div class="ergebnis">
			<%= ergebnis %>
		</div>
		
		<select name="Temp2">
			<option value="nm" <% if (sel2 == "nm") {%>selected<%}%>>Nanometer</option>
			<option value="µm" <% if (sel2 == "µm") {%>selected<%}%>>Mikrometer</option>
			<option value="mm" <% if (sel2 == "mm") {%>selected<%}%>>Millimeter</option>
			<option value="cm" <% if (sel2 == "cm") {%>selected<%}%>>Centimeter</option>
			<option value="in" <% if (sel2 == "in") {%>selected<%}%>>Zoll</option>
			<option value="dm" <% if (sel2 == "dm") {%>selected<%}%>>Dezimeter</option>
			<option value="f" <% if (sel2 == "f") {%>selected<%}%>>Fuß</option>
			<option value="yd" <% if (sel2 == "yd") {%>selected<%}%>>Yard</option>
			<option value="m" <% if (sel2 == "m") {%>selected<%}%>>Meter</option>
			<option value="km" <% if (sel2 == "km") {%>selected<%}%>>Kilometer</option>
			<option value="mi" <% if (sel2 == "mi") {%>selected<%}%>>Meile</option>
			<option value="smi" <% if (sel2 == "smi") {%>selected<%}%>>Seemeile</option>
			<option value="ae" <% if (sel2 == "ae") {%>selected<%}%>>Astro. Einheit</option>
			<option value="lj" <% if (sel2 == "lj") {%>selected<%}%>>Lichtjahr</option>
		</select>
		
		<br><button type="submit" class="buttonLänge">umrechnen</button>
		
		</form>
		
		</section>
		
		<div class="spruch">
			<fieldset class="fieldsetSpruch">
				<legend id="color3" class="legendSpruch"><em>Fakt:</em></legend>
					<%= spruch %>
			</fieldset>
		</div>
	</body>
</html>