<html>
	<head>
		<title>L채ngen</title>
	</head>
	<body>
		<button type="submit">  L채ngen  </button>
		<button type="submit">  Fl채chen </button>
		<button type="submit">  Volumen </button>
		<button type="submit">Temperatur</button>
		<button type="submit">   Zeit   </button>
		<button type="submit">   Masse  </button>
		<button type="submit">   DE/EN  </button>
		<h1> L채ngen </h1>
	</body>
</html>