<html>
	<head>
		<link href="/style.css" rel="stylesheet" type="text/css">
		<title>Masse</title>
	</head>
	<body>
		<ul>
			<li><a href="/laengen">Länge</a></li>
			<li><a href="/flaechen">Fläche</a></li>
			<li><a href="/volumen">Volumen</a></li>
			<li><a class="active" href="/masse">Masse</a></li>
			<li><a href="/zeit">Zeit</a></li>
			<li><a href="/temperatur">Temperatur</a></li>
			<li class="right"><a href="/DEEN">DE/EN</a></li>
		</ul>
		<select>
			<option value="ng" selected>Nanogramm</option>
			<option value="µg">Mikrogramm</option>
			<option value="mg">Milligramm</option>
			<option value="g">Gramm</option>
			<option value="u">Unze</option>
			<option value="p">Pfund</option>
			<option value="kg">Kilogramm</option>
			<option value="s">Stone</option>
			<option value="t">Tonne</option>
		</select>
	</body>
</html>