<html>
	<head>
		<link href="/style.css" rel="stylesheet" type="text/css">
		<title>Masse</title>
	</head>
	<body class="bildMasse">
	
		<script>
			function getSelectColor() { 
				const selectedValue = document.getElementById("colorLänge").value;
				document.getElementById("color").style.backgroundColor = selectedValue;
				document.getElementById("color2").style.color = selectedValue;
				document.getElementById("color3").style.color = selectedValue;
				console.log(selectedValue);
			} 
		</script> 
	
		<ul id="color" style="background-color: blue">
			<li><a href="/laengen">Länge</a></li>
			<li><a href="/flaechen">Fläche</a></li>
			<li><a href="/volumen">Volumen</a></li>
			<li><a class="active" href="/masse">Masse</a></li>
			<li><a href="/zeit">Zeit</a></li>
			<li><a href="/temperatur">Temperatur</a></li>
			<li class="right"><a href="/deen">DE/EN</a></li>
		</ul>
		
		<select class="colorChange" id="colorLänge" onchange="getSelectColor();">
			<option value="blue" style="background-color: blue"> </option>
			<option value="red" style="background-color: red"> </option>
			<option value="green" style="background-color: green" > </option>
			<option value="lightgreen" style="background-color: lightgreen"> </option>
			<option value="violet" style="background-color: violet"> </option>
			<option value="purple" style="background-color: purple"> </option>
			<option value="orange" style="background-color: orange"> </option>
			<option value="black" style="background-color: black"> </option>
		</select> 
		
		<div class="formel">
			<fieldset class="fieldsetFormel">
				<legend id="color2" class="legendFormel"><em>Formel:</em></legend>
					y = x * <%= formel %>
			</fieldset>
		</div>
		
		<section>
		<form action="/onMasse" method="post">
			<input type="text" name="number" autofocus placeholder="Eingabe">
			
		<select name="Temp1">
			<option value="ng" <% if (sel1 == "ng") {%>selected<%}%>>Nanogramm</option>
			<option value="µg" <% if (sel1 == "µg") {%>selected<%}%>>Mikrogramm</option>
			<option value="mg" <% if (sel1 == "mg") {%>selected<%}%>>Milligramm</option>
			<option value="g" <% if (sel1 == "g") {%>selected<%}%>>Gramm</option>
			<option value="u" <% if (sel1 == "u") {%>selected<%}%>>Unze</option>
			<option value="p" <% if (sel1 == "p") {%>selected<%}%>>Pfund</option>
			<option value="kg" <% if (sel1 == "kg") {%>selected<%}%>>Kilogramm</option>
			<option value="s" <% if (sel1 == "s") {%>selected<%}%>>Stone</option>
			<option value="t" <% if (sel1 == "t") {%>selected<%}%>>Tonne</option>
		</select>
		
		===>
		
		<div class="ergebnis">
			<%= ergebnis %>
		</div>
		
		<select name="Temp2">
			<option value="ng" <% if (sel2 == "ng") {%>selected<%}%>>Nanogramm</option>
			<option value="µg" <% if (sel2 == "µg") {%>selected<%}%>>Mikrogramm</option>
			<option value="mg" <% if (sel2 == "mg") {%>selected<%}%>>Milligramm</option>
			<option value="g" <% if (sel2 == "g") {%>selected<%}%>>Gramm</option>
			<option value="u" <% if (sel2 == "u") {%>selected<%}%>>Unze</option>
			<option value="p" <% if (sel2 == "p") {%>selected<%}%>>Pfund</option>
			<option value="kg" <% if (sel2 == "kg") {%>selected<%}%>>Kilogramm</option>
			<option value="s" <% if (sel2 == "s") {%>selected<%}%>>Stone</option>
			<option value="t" <% if (sel2 == "t") {%>selected<%}%>>Tonne</option>
		</select>
		
		<br><button type="submit" class="buttonMasse">umrechnen</button>
		
		</form>
		
		</section>
		
		<div class="spruch">
			<fieldset class="fieldsetSpruch">
				<legend id="color3" class="legendSpruch"><em>Fakt:</em></legend>
					<%= spruch %>
			</fieldset>
		</div>
		
		<div class="gradFahrenheit">
			<em>
			°Fahrenheit
			</em>
		</div>
	</body>
</html>