<html>
	<head>
		<link href="/style.css" rel="stylesheet" type="text/css">
		<title>Temperatur</title>
	</head>
	<body class="bildThermo">
	
		<script>
			function getSelectColor() { 
				const selectedValue = document.getElementById("colorLänge").value;
				document.getElementById("color").style.backgroundColor = selectedValue;
				document.getElementById("color2").style.color = selectedValue;
				document.getElementById("color3").style.color = selectedValue;
				console.log(selectedValue);
			} 
		</script> 
		
		<ul id="color" style="background-color: blue">
			<li><a href="/laengen">Länge</a></li>
			<li><a href="/flaechen">Fläche</a></li>
			<li><a href="/volumen">Volumen</a></li>
			<li><a href="/masse">Masse</a></li>
			<li><a href="/zeit">Zeit</a></li>
			<li><a class="active" href="/temperatur">Temperatur</a></li>
			<li class="right"><a href="/deen">DE/EN</a></li>
		</ul>
		
		<select class="colorChange" id="colorLänge" onchange="getSelectColor();">
			<option value="blue" style="background-color: blue"> </option>
			<option value="red" style="background-color: red"> </option>
			<option value="green" style="background-color: green" > </option>
			<option value="lightgreen" style="background-color: lightgreen"> </option>
			<option value="violet" style="background-color: violet"> </option>
			<option value="purple" style="background-color: purple"> </option>
			<option value="orange" style="background-color: orange"> </option>
			<option value="black" style="background-color: black"> </option>
		</select> 
		
		<div class="formel">
			<fieldset class="fieldsetFormel">
				<legend id="color2" class="legendFormel"><em>Formel:</em></legend>
					y = <%= formel %>
			</fieldset>
		</div>
		
		<section>
		<form action="/onTemperatur" method="post">
			<input type="text" name="number" autofocus placeholder="Eingabe">
			
		<select name="Temp1">
			<option value="C" <% if (sel1 == "C") {%>selected<%}%>>Celsius</option> 
			<option value="F" <% if (sel1 == "F") {%>selected<%}%>>Fahrenheit</option>
			<option value="K" <% if (sel1 == "K") {%>selected<%}%>>Kelvin</option>
		</select>
		
		===>
		
		<div class="ergebnis">
			<%= ergebnis %>
		</div>
		
		<select name="Temp2">
			<option value="C" <% if (sel2 == "C") {%>selected<%}%>>Celsius</option>
			<option value="F" <% if (sel2 == "F") {%>selected<%}%>>Fahrenheit</option>
			<option value="K" <% if (sel2 == "K") {%>selected<%}%>>Kelvin</option>
		</select>
		
		<br><button type="submit" class="buttonTemp">umrechnen</button>
		
		</form>
		
		</section>
		
		<div class="spruch">
			<fieldset class="fieldsetSpruch">
				<legend id="color3" class="legendSpruch"><em>Fakt:</em></legend>
					<%= spruch %>
			</fieldset>
		</div>
		
		<div class="gradFahrenheit">
			<em>
			°Fahrenheit
			</em>
		</div>
	</body>
</html>