<html>
	<head>
		<link href="/style.css" rel="stylesheet" type="text/css">
		<title>Temperatur</title>
	</head>
	<body class="bildThermo">
		<ul>
			<li><a href="/laengen">Länge</a></li>
			<li><a href="/flaechen">Fläche</a></li>
			<li><a href="/volumen">Volumen</a></li>
			<li><a href="/masse">Masse</a></li>
			<li><a href="/zeit">Zeit</a></li>
			<li><a class="active" href="/temperatur">Temperatur</a></li>
			<li class="right"><a href="/DEEN">DE/EN</a></li>
		</ul>
		
		<div class="formel">
			Hier kommt die Formel rein
		</div>
		
		<section>
		<form action="/onTemperatur" method="post">
			<input type="text" name="number">
			
		<select>
			<option value="C" selected>Celsius</option>
			<option value="F">Fahrenheit</option>
			<option value="K">Kelvin</option>
		</select>
		
		===>
		
		<div class="ergebnis">
			
		</div>
		
		<select>
			<option value="C" selected>Celsius</option>
			<option value="F">Fahrenheit</option>
			<option value="K">Kelvin</option>
		</select>
		
		<br><button type="submit" class="buttonTemp">umrechnen</button>
		
		</form>
		
		</section>
		
		<div class="spruch">
			Hier kommt der Spruch rein
		</div>
	</body>
</html>