<html>
	<head>
		<link href="/style.css" rel="stylesheet" type="text/css">
		<title>Volumen</title>
	</head>
	<body>
		<ul>
			<li><a href="/laengen">Länge</a></li>
			<li><a href="/flaechen">Fläche</a></li>
			<li><a class="active" href="/volumen">Volumen</a></li>
			<li><a href="/masse">Masse</a></li>
			<li><a href="/zeit">Zeit</a></li>
			<li><a href="/temperatur">Temperatur</a></li>
			<li class="right"><a href="/DEEN">DE/EN</a></li>
		</ul>
		
		<div class="formel">
			Hier kommt die Formel rein
		</div>
		
		<section>
		<form action="/onVolumen" method="post">
			<input type="text" name="number">
			
		<select>
			<option value="mm³" selected>Kubikmillimeter</option>
			<option value="cm³">Kubikcentimeter</option>
			<option value="ml">Milliliter</option>
			<option value="dm³">Kubikdezimeter</option>
			<option value="l">Liter</option>
			<option value="m³">Kubikmeter</option>
			<option value="km³">Kubikkilometer</option>
			<option value="mi³">Kubikmeile</option>
		</select>
		
		===>
		
		<div class="ergebnis">
			
		</div>
		
		<select>
			<option value="mm³" selected>Kubikmillimeter</option>
			<option value="cm³">Kubikcentimeter</option>
			<option value="ml">Milliliter</option>
			<option value="dm³">Kubikdezimeter</option>
			<option value="l">Liter</option>
			<option value="m³">Kubikmeter</option>
			<option value="km³">Kubikkilometer</option>
			<option value="mi³">Kubikmeile</option>
		</select>
		
		<br><button type="submit" class="buttonVolumen">umrechnen</button>
		
		</form>
		
		</section>
		
		<div class="spruch">
			Hier kommt der Spruch rein
		</div>
	</body>
</html>