<html>
	<head>
		<link href="/style.css" rel="stylesheet" type="text/css">
		<title>Volumen</title>
	</head>
	<body class="bildVolumen">
	
		<script>
			function getSelectColor() { 
				const selectedValue = document.getElementById("colorLänge").value;
				document.getElementById("color").style.backgroundColor = selectedValue;
				document.getElementById("color2").style.color = selectedValue;
				document.getElementById("color3").style.color = selectedValue;
				console.log(selectedValue);
			} 
		</script> 
		
		<ul id="color" style="background-color: blue">
			<li><a href="/laengen">Länge</a></li>
			<li><a href="/flaechen">Fläche</a></li>
			<li><a class="active" href="/volumen">Volumen</a></li>
			<li><a href="/masse">Masse</a></li>
			<li><a href="/zeit">Zeit</a></li>
			<li><a href="/temperatur">Temperatur</a></li>
			<li class="right"><a href="/DEEN">DE/EN</a></li>
		</ul>
		
		<select class="colorChange" id="colorLänge" onchange="getSelectColor();">
			<option value="blue" style="background-color: blue"> </option>
			<option value="red" style="background-color: red"> </option>
			<option value="green" style="background-color: green" > </option>
			<option value="lightgreen" style="background-color: lightgreen"> </option>
			<option value="violet" style="background-color: violet"> </option>
			<option value="purple" style="background-color: purple"> </option>
			<option value="orange" style="background-color: orange"> </option>
			<option value="black" style="background-color: black"> </option>
		</select> 
		
		<div class="formel">
			<fieldset class="fieldsetFormel">
				<legend id="color2" class="legendFormel"><em>Formel:</em></legend>
					y = x * <%= formel %>
			</fieldset>
		</div>
		
		<section>
		<form action="/onVolumen" method="post">
			<input type="text" name="number" autofocus placeholder="Eingabe">
			
		<select name="Temp1">
			<option value="mm³" <% if (sel1 == "mm³") {%>selected<%}%>>Kubikmillimeter</option>
			<option value="cm³" <% if (sel1 == "cm³") {%>selected<%}%>>Kubikcentimeter</option>
			<option value="ml" <% if (sel1 == "ml") {%>selected<%}%>>Milliliter</option>
			<option value="dm³" <% if (sel1 == "dm³") {%>selected<%}%>>Kubikdezimeter</option>
			<option value="l" <% if (sel1 == "l") {%>selected<%}%>>Liter</option>
			<option value="m³" <% if (sel1 == "m³") {%>selected<%}%>>Kubikmeter</option>
			<option value="km³" <% if (sel1 == "km³") {%>selected<%}%>>Kubikkilometer</option>
			<option value="mi³" <% if (sel1 == "mi³") {%>selected<%}%>>Kubikmeile</option>
		</select>
		
		===>
		
		<div class="ergebnis">
			<%= ergebnis %>
		</div>
		
		<select name="Temp2">
			<option value="mm³" <% if (sel2 == "mm³") {%>selected<%}%>>Kubikmillimeter</option>
			<option value="cm³" <% if (sel2 == "cm³") {%>selected<%}%>>Kubikcentimeter</option>
			<option value="ml" <% if (sel2 == "ml") {%>selected<%}%>>Milliliter</option>
			<option value="dm³" <% if (sel2 == "dm³") {%>selected<%}%>>Kubikdezimeter</option>
			<option value="l" <% if (sel2 == "l") {%>selected<%}%>>Liter</option>
			<option value="m³" <% if (sel2 == "m³") {%>selected<%}%>>Kubikmeter</option>
			<option value="km³" <% if (sel2 == "km³") {%>selected<%}%>>Kubikkilometer</option>
			<option value="mi³" <% if (sel2 == "mi³") {%>selected<%}%>>Kubikmeile</option>
		</select>
		
		<br><button type="submit" class="buttonVolumen">umrechnen</button>
		
		</form>
		
		</section>
		
		<div class="spruch">
			<fieldset class="fieldsetSpruch">
				<legend id="color3" class="legendSpruch"><em>Fakt:</em></legend>
					<%= spruch %>
			</fieldset>
		</div>
	</body>
</html>