<html>
	<head>
		<link href="/style.css" rel="stylesheet" type="text/css">
		<title>Zeit</title>
	</head>
	<body class="bildZeit">
	
		<script>
			function getSelectColor() { 
				const selectedValue = document.getElementById("colorLänge").value;
				document.getElementById("color").style.backgroundColor = selectedValue;
				document.getElementById("color2").style.color = selectedValue;
				document.getElementById("color3").style.color = selectedValue;
				console.log(selectedValue);
			} 
		</script> 
		
		<ul id="color" style="background-color: blue">
			<li><a href="/laengen">Länge</a></li>
			<li><a href="/flaechen">Fläche</a></li>
			<li><a href="/volumen">Volumen</a></li>
			<li><a href="/masse">Masse</a></li>
			<li><a class="active" href="/zeit">Zeit</a></li>
			<li><a href="/temperatur">Temperatur</a></li>
			<li class="right"><a href="/DEEN">DE/EN</a></li>
		</ul>
		
		<select class="colorChange" id="colorLänge" onchange="getSelectColor();">
			<option value="blue" style="background-color: blue"> </option>
			<option value="red" style="background-color: red"> </option>
			<option value="green" style="background-color: green" > </option>
			<option value="lightgreen" style="background-color: lightgreen"> </option>
			<option value="violet" style="background-color: violet"> </option>
			<option value="purple" style="background-color: purple"> </option>
			<option value="orange" style="background-color: orange"> </option>
			<option value="black" style="background-color: black"> </option>
		</select> 
		
		<div class="formel">
			<fieldset class="fieldsetFormel">
				<legend id="color2" class="legendFormel"><em>Formel:</em></legend>
					y = x * <%= formel %>
			</fieldset>
		</div>
		
		<section>
		<form action="/onZeit" method="post">
			<input type="text" name="number" autofocus placeholder="Eingabe">
			
		<select name="Temp1">
			<option style="background-color: yellow"><% if (sel1 == "ns") {%>Nanosekunde<%} else if (sel1 == "µs") {%>Mikrosekunde<%} else if (sel1 == "ms") {%>Millisekunde<%} 
			else if (sel1 == "s") {%>Sekunde<%} else if (sel1 == "min") {%>Minute<%} else if (sel1 == "h") {%>Stunde<%}
			else if (sel1 == "d") {%>Tag<%} else if (sel1 == "w") {%>Woche<%} else if (sel1 == "j") {%>Jahr<%}%></option>
			<option value="ns">Nanosekunde</option>
			<option value="µs">Mikrosekunde</option>
			<option value="ms">Millisekunde</option>
			<option value="s">Sekunde</option>
			<option value="min">Minute</option>
			<option value="h">Stunde</option>
			<option value="d">Tag</option>
			<option value="w">Woche</option>
			<option value="j">Jahr</option>
		</select>
		
		===>
		
		<div class="ergebnis">
			<%= ergebnis %>
		</div>
		
		<select name="Temp2">
			<option style="background-color: yellow"><% if (sel2 == "ns") {%>Nanosekunde<%} else if (sel2 == "µs") {%>Mikrosekunde<%} else if (sel2 == "ms") {%>Millisekunde<%} 
			else if (sel2 == "s") {%>Sekunde<%} else if (sel2 == "min") {%>Minute<%} else if (sel2 == "h") {%>Stunde<%}
			else if (sel2 == "d") {%>Tag<%} else if (sel2 == "w") {%>Woche<%} else if (sel2 == "j") {%>Jahr<%}%></option>
			<option value="ns">Nanosekunde</option>
			<option value="µs">Mikrosekunde</option>
			<option value="ms">Millisekunde</option>
			<option value="s">Sekunde</option>
			<option value="min">Minute</option>
			<option value="h">Stunde</option>
			<option value="d">Tag</option>
			<option value="w">Woche</option>
			<option value="j">Jahr</option>
		</select>
		
		<br><button type="submit" class="buttonZeit">umrechnen</button>
		
		</form>
		
		</section>
		
		<div class="spruch">
			<fieldset class="fieldsetSpruch">
				<legend id="color3" class="legendSpruch"><em>Spruch:</em></legend>
				
			</fieldset>
		</div>
	</body>
</html>