ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
	font-family: Verdana;
}

li {
    float: left;
}

li a {
	font-size: 24px;
    display: block;
    color: white;
    text-align: center;
    padding: 16px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: lightblue;
}

.active {
    background-color: darkblue;
    color: white;
}

.right {
	float: right;
}

section {
	text-align: center;
	padding-top: 11%;
	padding-bottom: 23%;
}

select {
	font-size: 18px;
}

input {
	font-size: 18px;
}

form {
	display: inline;
}

.formel {
	text-align: center;
	padding-top: 11%;
	font-size: 24px;
}

.spruch {
	text-align: center;
	font-size: 20px;
}

.ergebnis {
	border: 1px solid;
	width: 180px;
	font-size: 18px;
	display: inline-block;
	height: 24px;
	font-family: Verdana;
	vertical-align: top;
}

.buttonLänge {
	float: left;
	margin-left: 24%;
	margin-top: 5px;
}

.buttonTemp {
	float: left;
	margin-left: 25.55%;
	margin-top: 5px;
}

.buttonZeit {
	float: left;
	margin-left: 23.65%;
	margin-top: 5px;
}




